body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:     linear-gradient(to bottom,#0075fb, #01b7ff); 
    
}


h1 {
    text-align: center;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
section {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

/* 画像のサイズを変更 */
.large-image {
    width: 100%;
}

.medium-image {
    width: 50%;
}

.small-image {
    width: 25%;
}
main {
    padding: 5%;
}
/* カスタム高さと幅のクラス */
.custom-size {
    width: 300px; /* 幅を300pxに設定 */
    height: 200px; /* 高さを200pxに設定 */
}

footer {
    background-color: #01b7ff;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
